@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Work+Sans:wght@400&display=swap');

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 90vh;
  color: #13294B;
  font-family: 'Work Sans', sans-serif;
}

.login-title {
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  margin-bottom: 26px;
  margin-top: 50px;
}

.login-form {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.login-form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}

.login-form-group label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.login-input-field {
  width: 100%;
  padding: 8px;
  border: 1px solid #13294B;
  border-radius: 12px;
  font-size: 14px;
  outline: none;
}

.login-password-container {
  position: relative;
}

.login-forgot-password {
  position: absolute;
  top: -22px;
  right: 0;
  font-size: 12px;
  font-style: italic;
  color: #4B9CD3;
  cursor: pointer;
}

.login-forgot-password:hover {
  text-decoration: underline;
}

.login-remember-me {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: -15px;
  margin-bottom: 20px;
  font-size: 11px;
  font-weight: bold;
}

.login-remember-me input[type="checkbox"] {
  appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #13294B;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.login-remember-me input[type="checkbox"]:checked {
  background-color: #13294B;
}

.login-submit-btn {
  padding: 10px;
  background-color: #4B9CD3;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  width: 35%;
  align-self: flex-end;
  margin-bottom: 10px;
}

.login-submit-btn:hover {
  background-color: #4a89c4;
}

.login-signup-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  width: 100%;
  margin-top: -5px;
  font-size: 12px;
  font-style: italic;
}

.login-signup-link {
  color: #4B9CD3;
  cursor: pointer;
  font-weight: bold;
  margin-left: 4px;
}

.login-signup-link:hover {
  text-decoration: underline;
}