.navbar {
    background-color: #4B9CD3;
    color: white;
    padding: 7px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-title {
    font-weight: bold;
    margin-left: -42%;
    flex-grow: 1;
  }

  .navbar-title2 {
    font-weight: bold;
    margin-left: -55%;
    flex-grow: 1;
  }

  .navbar-title2 img{
    width: 17%;
  }

  .navbar-title img{
    width: 20%;
  }
  
  .navbar-buttons {
    display: flex;
    gap: 1rem;
    flex-grow: 2;
    margin-right: 3%;
  }

  .nav-button:hover{
    background-color: #F8F8F8;
    color: #13294B;
  }

  .nav-down {
    padding: 0;
    margin: 0;
    margin-left: -10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: white;
  }
  
  
.header {
  background-color: #4B9CD3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: white;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-logo {
  height: 40px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.flashcard-btn,
.qa-btn, .nav-button {
  background: #13294B;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 8px 16px;
  font-weight: 500;
  cursor: pointer;
  font-size: 14px;
}


.profile-icon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #13294B;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.profile-icon img {
  width: 24px;
  height: 24px;
}

