.navbar {
    background-color: #4B9CD3;
    color: white;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-title {
    font-weight: bold;
    margin-left: 2.5%;
    flex-grow: 1;
  }

  .navbar-title img{
    width: 42%;
  }
  
  .navbar-buttons {
    display: flex;
    gap: 1rem;
    flex-grow: 2;
    margin-right: 3%;
  }
  
  .nav-button {
    background-color: #13294B;
    padding: 0.7rem 1rem;
    border-radius: 30px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
  }

  .nav-down {
    padding: 0;
    margin: 0;
    margin-left: -10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: white;
  }

  
  